In [1]:
# Import libraries

import numpy as np
import pandas as pd
import re

### 1. Write a function named `is_vowel`. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of `re.search` as a boolean value that indicates whether or not the regular expression matches the given string.

In [6]:
# Define the function

def is_vowel(string):    
    regexp = r'^[AEIOUaeiou]{1}$'
    return bool(re.search(regexp, string))

In [9]:
# Test the function

print(is_vowel('aaa'))
print(is_vowel('t'))
print(is_vowel('codeup'))
print(is_vowel('A'))

False
False
False
True

In [11]:
# Alternative way

def is_vowel_1(string):
    regexp = r'^[AEIOUaeiou]$'
    return bool(re.search(regexp, string))

In [12]:
print(is_vowel_1('aaa'))
print(is_vowel_1('t'))
print(is_vowel_1('codeup'))
print(is_vowel_1('A'))

False
False
False
True

### 2. Write a function named `is_valid_username` that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

### Breakdown the question:
- A valid username starts with a lowercase letter,
- Only consists of lowercase letters, numbers, or the _ character,
- No longer than 32 characters

In [33]:
# Define the function

def is_valid_username(string):
    regexp = r'^[a-z][a-z0-9_]{,31}$'
    return bool(re.search(regexp, string))

In [34]:
# Test the function

# assert is_valid_username('Ada') == True
print(is_valid_username('Ada'))
print(is_valid_username('Mich?lle'))
print(is_valid_username('bc'*20))
print(is_valid_username('samuel'))

False
False
False
True

In [35]:
# Don't put the space in the curly brackets

def is_valid_username_1(string):
    regexp = r'^[a-z][a-z0-9_]{, 31}$'
    return bool(re.search(regexp, string))

In [36]:
# Test the function

print(is_valid_username_1('Ada'))
print(is_valid_username_1('Mich?lle'))
print(is_valid_username_1('bc'*20))
print(is_valid_username_1('samuel')) # Return False for string that meets the requirement.

False
False
False
False

### 3. Write a regular expression to capture phone numbers. It should match all of the following:
- (210) 867 5309
- +1 210.867.5309
- 867-5309 is my phone number
- 210-867-5309
- 2108675309

In [50]:
# Create the regexp

phone_number_re = re.compile(r'''
^
(?P<country_code>\+\d+)? 
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<exchange_code>\d{3})
\D*?
(?P<line_number>\d{4})
\D*
$
''', re.VERBOSE)

**Explain the code**
- `(?<name>regex)`: capture the text matched by 'regex'into the group 'name'.
- `( )?`: non-greedy capture group
- `\D*?`: zeor or more optional non-numbers that **we are not going to capture**, such as `)` and `.`
- `re.VERBOSE`: ingore whitespace in the regex

In [53]:
# Create the phone number dataframe

df = pd.DataFrame()
df['number'] = [
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
    '2108675309',
]

In [52]:
# Break down the phone number by regexp and turn each capture group into a column
pd.concat([df, df.number.str.extract(phone_number_re)], axis=1)

            number country_code area_code exchange_code line_number
0   (210) 867 5309          NaN       210           867        5309
1  +1 210.867.5309           +1       210           867        5309
2         867-5309          NaN       NaN           867        5309
3     210-867-5309          NaN       210           867        5309
4       2108675309          NaN       210           867        5309

### 4. Use regular expressions to convert the dates below to the standardized year-month-day format.
- 02/04/19
- 02/05/19
- 02/06/19
- 02/07/19
- 02/08/19
- 02/09/19
- 02/10/19

In [55]:
# Capture the month, day and year

regexp = r'(\d+)/(\d+)/(\d+)'
subject = '02/04/19'

# Use .groups() method to extract the groups
re.search(regexp, subject).groups()

('02', '04', '19')

In [56]:
# Create a list to hold the dates

dates = ['02/04/19',
         '02/05/19',
         '02/06/19',
         '02/07/19',
         '02/08/19',
         '02/09/19',
         '02/10/19']

In [59]:
# Use the list comprehension to re-formmat the dates
# re.sub() method to extract the groups we are interested and rearrange them into the standard format. 

[re.sub(regexp, r'20\3-\1-\2', date) for date in dates]

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10']